.form {
  max-width: 40rem;
  margin: 3rem auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.text-input {
  padding: 1rem 2rem;
}
